* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}

html,body {
    height: 100%;
    color: #252B42;
    background: #FAFAFA;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 20;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 104px;

}
@media (max-width: 320px) {
    .header {
        min-height: 60px;
    }
}

.logo {
    font-weight: bold;
    font-size: 32px;
    line-height: 133%;
}
@media (max-width: 320px) {
    .logo {
        font-size: 24px;
    }
}

.header__nav {
    margin-left: 132px;
}
@media (max-width: 767px) {
    .header__nav {
        margin-left: 60px;
    }
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}


.nav__list > * {
    color: #737373;
    font-weight: 600;
    font-size: 24px;
    line-height: 171%;
}
@media (max-width: 320px) {
    .nav__list > * {
        font-size: 16px;
    }
}
.nav__list > *:not(:last-child) {
    margin-right: 21px;
}
.nav__list a {
    color: #737373;
    text-decoration: none;
}



/*MAIN*/

.main {
    flex: 1 1 auto;
}

.main__container {
}

/*HEAD PAGE*/
.head {
    position: relative;
}
.head__container {
}

.head__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 509px;
}
.head__body > *:not(:first-child){
    margin: 35px 0 0 0;
}

.head__title {
    font-size: 58px;
    line-height: 137%;
    font-weight: bold;
}

.head__text {
    color: #737373;
    max-width: 320px;
    font-size: 20px;
    line-height: 137%;
}

.head__buttons {
    display: flex;
    flex-wrap: wrap;
}


.head__buttons > * {
    box-sizing: content-box;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px 36px;
    font-weight: bold;
    border: 1px solid #0D5C63;
    color: #0D5C63;

}


@media (max-width: 391px) {
    .head__buttons > * {
        flex: 1 1 100%;
    }
}
@media (min-width: 392px) {
    .head__buttons > *:first-child {
        margin-right: 10px;
    }
}


.head__buttons a {
    text-decoration: none;
}

.active_btn {
    background: #FF7B47;
    color: white;
    border: 1px solid transparent;
}


.background {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*SERVICE PAGE*/
.service {
    position: relative;
    z-index: 10;
}

.service__container {
    margin-top: -120px;
}

.service__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.service__row > * {
    flex: 1 1 33.3333%;
    padding: 0 15px;
}

@media (max-width: 796px) {
    .service__row > *:not(:last-child) {
        flex: 1 1 50%;
    }
    .service__row > *:last-child{
        flex: 1 1 100%;
    }
    
}
@media (max-width: 602px) {
    .service__row > *:not(:last-child) {
        flex: 1 1 100%;
    }
}

.service__column {
    margin-top: 10px;
}

.service__item {
    padding: 35px 40px;
    background: #FFFFFF;
    height: 100%;
    cursor: pointer;
    color: #737373;
}
.service__item h3 {
    color: black;
}
.service__item:hover {
    background: #0D5C63;
    color: white;
}
.service__item:hover h3{
    color: white;
}
.service__item:hover svg{
    color: white;
}






.service_item__icon {
    margin-bottom: 10px;

}
.service_item__icon svg{
    color: #0D5C63;
}
.service_item__icon:hover svg{
    color: white;
}

.service_item__body {
    display: flex;
    flex-direction: column;
}

.service_item__title {
    font-size: 24px;
    line-height: 125%;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
    color: inherit;
}

.service_text__body {
    color: inherit;
}

/*PAGE Experience */
.experience {
    padding: 80px 0 80px 0;
}

.experience__container {
    display: flex;
    flex-direction: column;
}



.experience__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -18px;
}

.experience__column {
    flex: 1 1 25%;
    padding: 0 18px;
    margin: 15px 0;
}

.experience__item {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
}
.experience__item svg{
    width: 48px;
    height: 48px;
    color: #0D5C63;
}

.experience_item__value {
    margin: 12px 0;
}

.experience_item__text {
    font-size: 14px;
    font-weight: normal;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
}
/*Block title*/
.block__title {
    margin: 0 auto 50px auto;
}

.block__head {
    text-align: center;
    padding-bottom: 10px;
}

.block__text {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
}


/*practice page*/
.practice {
    padding: 0 0 80px 0;
}

.practice__container {

}

.practice__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.practice__column {
    flex: 1 1 25%;
    padding: 0 15px;
    margin:15px 0;
}

@media (max-width: 1044px) {
    .practice__column {
        flex: 1 1 50%;
    }
}


.practice__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 15px 0;
}
.practice__text {
    text-align: center;
    margin: 15px 42px 0 30px;
    flex: 1 1 auto;
}
.practice_item__title {

    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
}

.practice_item__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 142%;
    color: #737373;
}

.practice_item__img {

}


/*advertising page*/
.advertising {
    background: white;
}

.advertising__container {

}

.advertising__body {
    display: flex;
    flex-wrap: wrap;
}

.advertising__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42% 0;
}

.advertising__video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advertising__description {
    flex: 1 1 auto;
    margin: 0 0 0 120px;
}

.advertising__description  h2{
    margin-top: 20px;
}
.advertising__description  p{
    margin-bottom: 20px;
}

.advertising_description__title {
    font-size: 40px;
    line-height: 142%;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.advertising_description__text {
    color: #737373;
    font-size: 14px;
    line-height: 142%;
}

.advertising_description__list {
}

.advertising_description__item {
    position: relative;
    padding-left: 40px;
}
.advertising_description__item:before {
    content: '';
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    left:0;
    background: url("./img/advertising_icon1.svg");
}
.advertising_description__item2 {
    position: relative;
    padding-left: 40px;
}
.advertising_description__item2:before {
    content: '';
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    left:0;
    background: url("./img/advertising_icon2.svg");
}
.advertising_description_item__title {
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
}

.advertising_description_item__sub {
    font-size: 14px;
    line-height: 171%;
    color: #737373;
}

.footer {
}

.footer__container {
}

.footer_header__container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {


}

.footer__title {
}

.footer__subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
}


.footer__contact {
    padding: 15px 40px;
    border-radius: 10px;
    color: white;
    background: #FF7B47;
    text-decoration: none;
}

.footer__body {
    padding: 50px 0;
    background: #17213C;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__column {

}

.footer__item {


}

.footer_item__list > *:not(:last-child) {
    margin-bottom: 10px;
}
.footer_item__list > *:first-child {
 font-weight: bold;
}

.footer_item_list__item {
    color: white;
}